<h2 align="center"><strong> Title:  <%= @article.title %> </strong></h2>
  <div class="card bg-light" align="center" style="padding:15px;">
    <% if @article.user %>
    <p>Created by:</p>
    <%= gravatar_for @article.user %>
    <%= @article.user.username %>
    <% end %>
    <h3><strong>Description</strong> </h3>
    <%= simple_format(@article.description) %>

    <div class="user-mata-data">
        <small>
          Created By:  <%= @article.user.username if @article.user %>,
          created at :<%=time_ago_in_words(@article.created_at) %> ago,
          updated at: <%=time_ago_in_words(@article.updated_at) %> ago
        </small>
    </div>

    <% if @article.categories.any? %>
      <p><small>Categories : </small><%=render @article.categories %></p>
    <% end %>
    <div>
      <%= link_to "back to articles listing", articles_path,class: "btn btn-sm btn-primary" %>
      <% if logged_in? && current_user == @article.user %>
          <%= link_to "edit this article" , edit_article_path(@article),class: "btn btn-warning btn-sm" %>
          <%= link_to "delete this article", article_path(@article),method: :delete,class: "btn btn-danger btn-sm", data:{confirm: "Are you sure you want to delete this article?"} %>
      <% end %>
    </div>

  </div>
