<h1 align="center"><strong>Listing all articles of <%= @category.name %></strong></h1>
<div  align="center">
  <%= link_to "Edit this category",edit_category_path(@category) %>
</div>
<% end %>

<div align="center">
  <%= will_paginate @category_articles%>
</div>
<%= render 'articles/articles' , obj: @category.articles%>
<div align="center" class="digg_pagination">
<%= will_paginate @category_articles  %>
</div>
