<nav class="navbar navbar-expand navbar-light" style="background-color: #283C69;margin-bottom: 40px;" >

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <%= link_to "AlphaBlog",root_path,class: "nav-link navbar-brand",id: "logo" %>

      </li>
      <li class="nav-item">
        <!-- <a class="nav-link" href="#">Link</a> -->
        <%= link_to "Articles",articles_path,class:"nav-link",id:"link1" %>
      </li>
      <li class="nav-item">
        <!-- <a class="nav-link" href="#">Link</a> -->
        <%= link_to "Users",users_path,class:"nav-link",id:"link1" %>
      </li>
      <% if logged_in? %>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Actions
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <%= link_to "Create new Article",new_article_path,class: "dropdown-item" %>
          <a class="dropdown-item" href="#">Another action</a>
          <div class="dropdown-divider"></div>
        </div>
      </li>
      <% end %>


      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Categories
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <%= link_to "All categories", categories_path,class:"dropdown-item" %>
          <% Category.all.each do |category| %>
          <%= link_to "#{category.name}",category_path(category),class: "dropdown-item" %>
          <% end %>
          <% if logged_in? && current_user.admin? %>
            <div class="dropdown-divider"></div>
            <%= link_to "Create new category",new_category_path,class: "dropdown-item" %>
          <% end %>
        </div>
      </li>
     </ul>


     <ul class="navbar-nav ml-auto">
        <% if !logged_in? %>
            <div class="nav-item">
              <%= link_to "Log in",login_path,class:"nav-link btn btn-primary btn-sm"%>
            </div>
            <div class="nav-item" style="margin-left:10px">
              <%= link_to "Sign up",signup_path,class:"nav-link btn btn-primary btn-sm"%>
            </div>
        <% else %>

            <li class="nav-item dropdown ">
              <a class="nav-link dropdown-toggle"  style="margin-left:80px" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Your  Profile <%= "Admin" if current_user.admin? %>
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <%= link_to "Edit your profile",edit_user_path(current_user),class: "dropdown-item" %>
                <%= link_to "View your profile",user_path(current_user),class: "dropdown-item" %>
                <div class="dropdown-divider"></div>
                    <%= link_to "Log out",logout_path,method: :delete ,class:"dropdown-item" %>
                </div>
            </li>
        <% end %>
     </ul>
  </div>
</nav>
